<div class="pt-6">

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    @for (card of statCards; track card.title) {
      <div class="bg-white rounded-xl border border-[#e6e6e6] drop-shadow p-6 flex flex-col justify-between transition-all duration-300 ease-in-out hover:shadow-lg">
        
        <div 
          class="absolute top-4 right-4 p-3 rounded-xl flex items-center justify-center"
          [ngClass]="card.iconBgColorClass"
          style="min-width: 48px; min-height: 48px;"
        >
          <i-lucide [img]="card.icon" [ngClass]="card.iconTextColorClass" [size]="24"></i-lucide>
        </div>

        <div class="mb-4 pr-16">
          <p class="text-base font-medium text-gray-500 leading-tight">{{ card.title }}</p>
        </div>

        <div>
          <p 
            class=""
            [ngClass]="{
              'text-4xl': card.isLargeValue,
              'text-3xl': !card.isLargeValue,
              'text-pink-600': true
            }"
          >
            {{ formatValue(card.value) }}
          </p>
        </div>
      </div>
    }
  </div>
</div>